@font-face {
    font-family: 'Game of Thrones';
    src: url('GameofThrones.eot');
    src: url('GameofThrones.woff') format('woff'),
         url('GameofThrones.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
  background-color: #004061;
  /*background-image: url("banner.jpg");*/
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.top_bar {
  font-family: 'Game of Thrones';
  font-size: 40px;
  text-align:center;
  margin-right: 200px;
  height: 30%;
  width: 100%;
  color: #DAA520;
}
.image_spot{
  width: 70%;
  height: 100px;

}

.main {
  font-size: 15px;
  padding: 0px 10px;
  color:#363535;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #FFFFFF;
  font-size: 14px;
  padding-left: 1%;
}


h3 {
  margin-block-start:0.3em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-style: italic;
  font-weight:90;
}

h4 {
  color: #004061;
  text-transform: uppercase;
  font-size: 14px;
  margin-block-end:0.3em
  font-weight:50;
}

.text{
  margin: 10px;
  padding: 25px;
  align-self: center;
}

.row{
  display: flex;
  color: #00334D;
}

.ext_row{
  display: flex;
  font-size: 14px;
  color: #FFFFFF;
}

/* Boxes */

.box {
  border-radius: 5px;
  background-color: #FFFFFF;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 2px lightgrey;
}

.box_comment {
  border-radius: 50px;
  background-color: #d4f5c29a;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 2px lightgrey;
  font-size: small;
  text-align: center;
  font-family: system-ui;
}

.box_curiosities {
  border-radius: 8px;
  border: 5px groove rgba(28,110,164,0.95);
  background-color: #E6F2FF;
  margin: 2px;
  padding: 8px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
 }


/* Radio buttons */
.radio {
  display:flex;
  justify-content: right;
  place-content:space-around;
  width: 88%;
}

.radio input[type="radio"] {
  opacity: 0;
  position: absolute;

}

.radio label {
  display: table-caption;
  background-color: #004061;
  padding: 20px 20px;
  font-size: 20px;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #E6F2FF;
  height: 20px;
  width: 20px;

}

.radio input[type="radio"]:checked + label {
  background-color: rgba(28, 53, 117, 0.56);
  border: 2px solid rgba(28, 53, 117, 0.56);
}

.radio label:hover {
  background-color: #e1e2df;
  border: 2px solid rgba(28, 53, 117, 0.56);
}

/* Scrollbars */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #EDEFEB;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(28, 53, 117, 0.56);
  border-radius: 20px;
  border: 3px solid rgba(28, 53, 117, 0.56);
}